<div class="row">
<div class="col-md-8 mx-auto p-4">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Año</th>
    </tr>
  </thead>
  <tbody>
      {{#each planes}}
    <tr>
      <td>{{nombre}}</td>
      <td>{{ano}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>